{% extends "base.html" %}

{% block header %}
<link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>

<link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">
<link href="css/creative.min.css" rel="stylesheet">
{% endblock %}

{% block meta_attributes %}
{% endblock %}

{% block body_attributes %}
id="page-top"
{% endblock %}

{% block content %}
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark py-3" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger text-dark" href="/">ML SaaS Tutorial</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto my-2 my-lg-0">
          {% if is_authenticated %}
          <li class="nav-item">
            <a class="nav-link text-dark" href="/dashboard">Back To Dashboard</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link text-dark" href="/login_page">Login</a>
          </li>
          {% endif %}
        
      </ul>
    </div>
  </div>
</nav>

<!-- Masthead -->
<div class="container">
        <!-- Outer Row -->
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="p-5">
                                    {% block page_content %}
                                    {% endblock %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- Footer -->
<footer class="bg-light py-5">
  <div class="container">
    <div class="small text-center text-muted">
      <div class="row">
        <div class="col">
          <hr>
          Contact Us: <!-- REPLACE HREF AND TEXT -->
          <a class="d-inline" href="mailto:contact@yourwebsite.com">contact@yourwebsite.com</a>
        </div>
        <div class="col"><hr>
          Copyright © 2019 - ML SaaS Tutorial
        </div>
        <div class="col"><hr>
          <a class="d-inline" href="/tos">Terms of Service</a>
        </div>
      </div>
    </div>
  </div>
</footer>
{% endblock %}