<div class="card shadow p-3 border-primary mt-3">
    <div class="mx-auto ps-3 text-center">
        <h3 class="text-dark"><b>Time Remaining in Trial:</b> <span id="timer" class="timer text-primary"></span></h3>
        <p>When the timer ends, your trial period is over.</p>
    </div>
    <div class="checkout-box">
        <div class="checkout-plan">
            <header class="checkout-plan-header">
                <h3>Starter</h3>
                <span>$</span><strong>17</strong> / month
            </header>
            <div class="checkout-plan-content">
                <ul>
                    <li>50 Uses Of X</li>
                    <li>Easy payment. Cancel anytime.</li>
                    <li>Simple, secure card payment</li>
                </ul>
                <a class="button-checkout" onclick="goToCheckout('STARTER')">Choose this plan</a>
            </div>
        </div>
        <div class="checkout-plan">
            <header class="checkout-plan-header">
                <h3>Growth</h3>
                <span>$</span><strong>47</strong> / month
            </header>
            <div class="checkout-plan-content">
                <ul>
                    <li>200 Uses Of X</li>
                    <li>Easy payment. Cancel anytime.</li>
                    <li>Simple, secure card payment</li>
                </ul>
                <a class="button-checkout" onclick="goToCheckout('GROWTH')">Choose this plan</a>
            </div>
        </div>
        <div class="checkout-plan">
            <header class="checkout-plan-header">
                <h3>Scale</h3>
                <span>$</span><strong>197</strong> / month
            </header>
            <div class="checkout-plan-content">
                <ul>
                    <li>1000 Uses Of X</li>
                    <li>Easy payment. Cancel anytime.</li>
                    <li>Simple, secure card payment</li>
                </ul>
                <a class="button-checkout" onclick="goToCheckout('SCALE')">Choose this plan</a>
            </div>
        </div>
    </div>
</div>

<script src="https://js.stripe.com/v3/"></script>
<script>
    function goToCheckout(plan) {
        data = JSON.stringify({
            plan: plan
        })

        ajax('/setup_payment', 'POST', data,
            function(response) {
                json_obj = JSON.parse(response);
                public_key = json_obj.stripe_public_key;
                session_id = json_obj.session_id;

                var stripe = Stripe(public_key);
                stripe.redirectToCheckout({
                    // Make the id field from the Checkout Session creation API response
                    // available to this file, so you can provide it as parameter here
                    // instead of the {{CHECKOUT_SESSION_ID}} placeholder.
                    sessionId: session_id
                }).then(function (result) {
                    // If `redirectToCheckout` fails due to a browser or network
                    // error, display the localized error message to your customer
                    // using `result.error.message`.
                });
            },
            function(error) {
                console.log('Something went wrong' + error);
            }
        )
    }
</script>