<section class="page-section bg-dark text-white" id="pricing">
    <div class="container text-center">
      <h2 class="mb-4" style="margin-left:20px;">Ready To Succeed?</h2>
      <div class="p-3">
          <div class="checkout-box" id="checkout-front-page">
              <div class="checkout-plan">
                  <header class="checkout-plan-header">
                      <h3>Starter</h3>
                      <span>$</span><strong>17</strong> / month
                  </header>
                  <div class="checkout-plan-content frontpage">
                      <ul>
                          <li>50 Uses Of X</li>
                          <li>Easy payment. Cancel anytime.</li>
                          <li>Simple, secure card payment</li>
                      </ul>
                      <a class="button-checkout js-scroll-trigger" href="#page-top">Start Trial Now</a>
                  </div>
              </div>
              <div class="checkout-plan">
                  <header class="checkout-plan-header">
                      <h3>Growth</h3>
                      <span>$</span><strong>47</strong> / month
                  </header>
                  <div class="checkout-plan-content frontpage">
                      <ul>
                          <li>200 Uses Of X</li>
                          <li>Easy payment. Cancel anytime.</li>
                          <li>Simple, secure card payment</li>
                      </ul>
                      <a class="button-checkout js-scroll-trigger" href="#page-top">Start Trial Now</a>
                  </div>
              </div>
              <div class="checkout-plan">
                  <header class="checkout-plan-header">
                      <h3>Scale</h3>
                      <span>$</span><strong>197</strong> / month
                  </header>
                  <div class="checkout-plan-content frontpage">
                      <ul>
                          <li>1000 Uses Of X</li>
                          <li>Easy payment. Cancel anytime.</li>
                          <li>Simple, secure card payment</li>
                      </ul>
                      <a class="button-checkout js-scroll-trigger" href="#page-top">Start Trial Now</a>
                  </div>
              </div>
          </div>
      </div>
      <p style="margin-left:20px;">* All trial accounts have a limit of X uses</p>
      
    </div>
</section>