<section class="page-section bg-light" id="services">
    <div class="container">
      <h2 class="text-center mt-0">At Your Service</h2>
      <hr class="divider my-4">
      <div class="row">
        <div class="col-lg-4 col-md-6 text-center">
          <div class="mt-5">
            <i class="fas fa-4x fa-clock text-primary mb-4"></i>
            <h3 class="h4 mb-2">Quick Setup</h3>
            <p class="text-muted">Get started in less than a minute!</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 text-center">
          <div class="mt-5">
            <i class="fas fa-4x fa-infinity text-primary mb-4"></i>
            <h3 class="h4 mb-2">Try Before You Buy</h3>
            <p class="text-muted">Yes, that's right &mdash; a <i>free</i> trial.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 text-center">
          <div class="mt-5">
            <i class="fas fa-4x fa-wrench text-primary mb-4"></i>
            <h3 class="h4 mb-2">Easy Configuration</h3>
            <p class="text-muted">Custom dashboard.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 text-center">
          <div class="mt-5">
            <i class="fas fa-4x fa-envelope-open text-primary mb-4"></i>
            <h3 class="h4 mb-2">Priority Support</h3>
            <p class="text-muted">We are here to help you, within 24 hours.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 text-center">
          <div class="mt-5">
            <i class="fas fa-4x fa-shield-alt text-primary mb-4"></i>
            <h3 class="h4 mb-2">Secure App</h3>
            <p class="text-muted">We use the latest security standards.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 text-center">
          <div class="mt-5">
            <i class="fas fa-4x fa-search-dollar text-primary mb-4"></i>
            <h3 class="h4 mb-2">Earn more $</h3>
            <p class="text-muted">Our mission is to make <i>you</i> money!</p>
          </div>
        </div>
      </div>
    </div>
</section>