<!-- Footer -->
<footer class="bg-light py-5">
    <div class="container">
      <div class="small text-center text-muted">
        <div class="row">
          <div class="col">
            <hr>
            Contact Us: <!-- REPLACE HREF AND TEXT -->
            <a class="d-inline" href="mailto:contact@yourwebsite.com">contact@yourwebsite.com</a>
          </div>
          <div class="col"><hr>
            Copyright © 2019 - ML SaaS Tutorial
          </div>
          <div class="col"><hr>
            <a class="d-inline" href="/tos">Terms of Service</a>
          </div>
        </div>
      </div>
    </div>
</footer>