{% extends "base_templates/dashboard_base.html" %}

{% block title %}
Billing
{% endblock %}

{% block content %}
<h1 class="h3 mt-3 mb-4 text-gray-800">Billing Page</h1>
{{ name }}
{% if subscription_active %}
<div id="output" class="text-success"></div>
<p>You are a paid subscriber!</p>



<div class="card row mt-3">
    <div class="col-sm-12">
        <div id="billing_info" class="table-responsive">
            <table class="table">
                <!-- table header -->
                {% if subscription_data %}
                <tr>
                  {% for key in subscription_data[0] %}
                  <th> {{ key }} </th>
                  {% endfor %}
                </tr>
                {% endif %}

                <!-- table rows -->
                {% for dict_item in subscription_data %}
                <tr>
                  {% for value in dict_item.values() %}
                  <td> {{ value }} </td>
                  {% endfor %}
                  <td>
                      {% if show_reactivate %}
                      <button id="reactivate_subscription" onclick="resubscribe();" type="submit" class="btn btn-success btn-default">
                          Reactivate Your Subscription
                      </button>
                      {% else %}
                      <button id="cancel_subscription" onclick="unsubscribe();" type="submit" class="btn btn-danger btn-default">
                          Cancel Your Subscription
                      </button>
                      {% endif %}
                  </td>
                </tr>
                {% endfor %}

                
            </table>
        </div>
    </div>
</div>

{% else %}
<p>You do not have an active subscription.</p>
{% endif %}

{% endblock %}

{% if subscription_active %}
{% block scripts %}
<script>
    function unsubscribe() {
        ajax('/cancel_subscription', 'PUT', null,
            function(response){
                json_obj = JSON.parse(response);
                msg = json_obj.message;
                $('#output').html(msg);
                $('#cancel_subscription').hide();
            },
            function(error){
                json_obj = JSON.parse(error.responseText);
                msg = json_obj.message;
                $('#output').html(msg);
            }
        )
    }

    function resubscribe() {
        ajax('/reactivate_subscription', 'PUT', null,
            function(response) {
                json_obj = JSON.parse(response);
                msg = json_obj.message;
                $('#output').html(msg);
                $('#reactivate_subscription').hide();
            },
            function(error) {
                json_obj = JSON.parse(error.responseText);
                msg = json_obj.message;
                $('#output').html(msg);
            }
        )
    }
</script>
{% endblock %}
{% endif %}