{% extends "base_templates/dashboard_base.html" %}

{% block title %}
Billing
{% endblock %}

{% block content %}
<h1 class="h3 mt-3 mb-4 text-gray-800">Billing Page</h1>
{{ name }}
{% if subscription_active %}
<p>You are a paid subscriber!</p>

<button onclick="unsubscribe();" type="submit" class="btn btn-danger btn-block">
    Cancel My Subscription
</button>


{% else %}
<p>You do not have an active subscription.</p>
{% endif %}

{% endblock %}

{% if subscription_active %}
{% block scripts %}
<script>
    function unsubscribe() {
        $.ajax({
        url: '/cancel_subscription',
        type: 'PUT',
        success: function(response){
            console.log(response)
        },
        error: function(error){
            console.log(error)
        }
        });
    }
</script>
{% endblock %}
{% endif %}