{% extends "base_templates/dashboard_base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}
<!-- Page Heading -->
<div class="row">
    <div class="col">
        <h1 class="h3 mt-3 mb-4 text-gray-800">Dashboard</h1>
    </div>
    <div class="mt-3 text-right" style="padding-right: .75rem; padding-left: .75rem;">
        <div class="card border-success shadow h-100 py-2">
            <div class="col mr-2">
                <div class="h5 mb-0 font-weight-bold text-gray-800">Hello! You are logged in as</div>
                <div>{{ email }}</div>
            </div>
        </div>
    </div>
</div>


{% if not user_is_paying %}
<div class="card shadow p-3 border-primary">
    <div class="mx-auto ps-3 text-center">
        <h3>Time Remaining in Trial: <span id="timer" class="timer"></span></h3>
        <p>When the timer ends, your trial period is over.</p>
    </div>
    <div class="checkout-box">
        <div class="checkout-plan">
            <header class="checkout-plan-header">
                <h3>Starter</h3>
                <span>$</span><strong>17</strong> / month
            </header>
            <div class="checkout-plan-content">
                <ul>
                    <li>50 Uses Of X</li>
                    <li>Easy payment. Cancel anytime.</li>
                    <li>Simple, secure card payment</li>
                </ul>
                <a class="button-checkout" onclick="goToCheckout('STARTER')">Choose this plan</a>
            </div>
        </div>
        <div class="checkout-plan">
            <header class="checkout-plan-header">
                <h3>Growth</h3>
                <span>$</span><strong>47</strong> / month
            </header>
            <div class="checkout-plan-content">
                <ul>
                    <li>200 Uses Of X</li>
                    <li>Easy payment. Cancel anytime.</li>
                    <li>Simple, secure card payment</li>
                </ul>
                <a class="button-checkout" onclick="goToCheckout('GROWTH')">Choose this plan</a>
            </div>
        </div>
        <div class="checkout-plan">
            <header class="checkout-plan-header">
                <h3>Scale</h3>
                <span>$</span><strong>197</strong> / month
            </header>
            <div class="checkout-plan-content">
                <ul>
                    <li>1000 Uses Of X</li>
                    <li>Easy payment. Cancel anytime.</li>
                    <li>Simple, secure card payment</li>
                </ul>
                <a class="button-checkout" onclick="goToCheckout('SCALE')">Choose this plan</a>
            </div>
        </div>
    </div>
</div>

<script src="https://js.stripe.com/v3/"></script>
<script>
    
    function goToCheckout(plan) {
        data = JSON.stringify({
            plan: plan
        })

        $.ajax({
            url: '/setup_payment',
            type: 'POST',
            contentType: "application/json",
            data: data, 
            success: function(response){
                json_obj = JSON.parse(response);
                public_key = json_obj.stripe_public_key;
                session_id = json_obj.session_id;

                var stripe = Stripe(public_key);
                stripe.redirectToCheckout({
                    // Make the id field from the Checkout Session creation API response
                    // available to this file, so you can provide it as parameter here
                    // instead of the {{CHECKOUT_SESSION_ID}} placeholder.
                    sessionId: session_id
                }).then(function (result) {
                    // If `redirectToCheckout` fails due to a browser or network
                    // error, display the localized error message to your customer
                    // using `result.error.message`.
                });
            },
            error: function(error){
                console.log('Something went wrong' + error);
            }
        });
    }
</script>

<script>
var expiredDate = new Date("{{ expire_date }}");

// Update the count down every 1 second
var countDown = function () {

    // Get todays date and time
    var now = new Date().getTime();

    // Find the distance between now an the count down date
    var distance = expiredDate.getTime() - now;

    // Time calculations for days, hours, minutes and seconds
    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);

    // Display the result in the element with id="demo"
    if (days > 0) {
        countdown = days + "d " + hours + "h " + minutes + "m " + seconds + "s";
    }
    else {
        countdown = hours + "h " + minutes + "m " + seconds + "s";
    }

    document.getElementById("timer").innerHTML = countdown

    // If the count down is finished, write some text
    if (distance < 0) {
        clearInterval(x);
        document.getElementById("timer").innerHTML = "EXPIRED";
        document.getElementById("paynow").style.visibility = "hidden";
    }

};
countDown();
var x = setInterval(countDown, 1000);
</script>
{% elif show_reactivate %}
<div class="row">
    
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-lg-6 mt-3">
      <div class="card border-left-danger shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
                <div id="output" class="text-success"></div>
                <div id="sub_warning" class="text-xs font-weight-bold text-danger text-uppercase mb-1">Your subscription has been cancelled.</div>
                <div id="ends_at" class="h5 mb-0 font-weight-bold text-gray-800">It ends {{ subscription_cancelled_at }}</div>
            </div>
            <div class="col-auto">
                <button id="reactivate_subscription" onclick="resubscribe();" type="submit" class="btn btn-success btn-block">
                    Reactivate Your Subscription
                </button>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
{% endif %}

{% endblock %}

{% if subscription_active %}
{% block scripts %}
<script>
    function resubscribe() {
        $.ajax({
        url: '/reactivate_subscription',
        type: 'PUT',
        success: function(response){
            json_obj = JSON.parse(response);
            msg = json_obj.message;
            $('#output').html(msg);
            $('#reactivate_subscription').hide();
            $('#sub_warning').hide();
            $('#ends_at').hide();
        },
        error: function(error){
            json_obj = JSON.parse(error.responseText);
            msg = json_obj.message;
            $('#output').html(msg);
        }
        });
    }
</script>
{% endblock %}
{% endif %}