{% extends "base_templates/base.html" %}

{% block header %}
<title>SaaS Tutorial</title>

<link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>

<link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">
<link href="css/creative.min.css" rel="stylesheet">
<link href="css/pricing.css" rel="stylesheet">
{% endblock %}

{% block body_attributes %}
id="page-top"
{% endblock %}

{% block content %}
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">ML SaaS Tutorial</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto my-2 my-lg-0">
          {% if is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="/dashboard">Back To Dashboard</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="/login_page">Login</a>
          </li>
          {% endif %}
        
      </ul>
    </div>
  </div>
</nav>

<!-- Masthead -->
<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center justify-content-center text-center">
      <div class="col-lg-10 align-self-end">
        <h1 class="text-uppercase text-white font-weight-bold">Flask Template</h1>
        <hr class="divider my-4">
      </div>
      <div class="col-lg-8 align-self-baseline">
        <p class="text-white-75 font-weight-light mb-5">Claim Your Free Trial of Template</p>
        <form id="signup-form" action="/signup" method="post">
          <input class="mb-3 form-control" required id="emailField" type="email" name="email" placeholder="Your email"/>
          <input class="mb-3 form-control" required id="passwordField" type="password" name="password" placeholder="Enter a password"/>
          <div id="output" class="pb-2 row align-items-center justify-content-center text-danger font-weight-bold">{{ message }}</div>
          <input class="btn btn-primary btn-xl" type="submit" value="Signup for a free trial"/>
        </form>
      </div>
    </div>
  </div>
</header>
<section class="page-section" id="services">
  <div class="container">
    <h2 class="text-center mt-0">At Your Service</h2>
    <hr class="divider my-4">
    <div class="row">
      <div class="col-lg-3 col-md-6 text-center">
        <div class="mt-5">
          <i class="fas fa-4x fa-gem text-primary mb-4"></i>
          <h3 class="h4 mb-2">Sturdy Themes</h3>
          <p class="text-muted mb-0">Our themes are updated regularly to keep them bug free!</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="mt-5">
          <i class="fas fa-4x fa-laptop-code text-primary mb-4"></i>
          <h3 class="h4 mb-2">Up to Date</h3>
          <p class="text-muted mb-0">All dependencies are kept current to keep things fresh.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="mt-5">
          <i class="fas fa-4x fa-globe text-primary mb-4"></i>
          <h3 class="h4 mb-2">Ready to Publish</h3>
          <p class="text-muted mb-0">You can use this design as is, or you can make changes!</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="mt-5">
          <i class="fas fa-4x fa-heart text-primary mb-4"></i>
          <h3 class="h4 mb-2">Made with Love</h3>
          <p class="text-muted mb-0">Is it really open source if it's not made with love?</p>
        </div>
      </div>
    </div>
  </div>
</section>
</section>

<section class="page-section bg-dark text-white">
  <div class="container text-center">
    <h2 class="mb-4">Ready To Succeed?</h2>
    <div class="p-3">
        <div class="checkout-box">
            <div class="checkout-plan">
                <header class="checkout-plan-header">
                    <h3>Starter</h3>
                    <span>$</span><strong>17</strong> / month
                </header>
                <div class="checkout-plan-content">
                    <ul>
                        <li>50 Uses Of X</li>
                        <li>Easy payment. Cancel anytime.</li>
                        <li>Simple, secure card payment</li>
                    </ul>
                    <a class="button-checkout" href="#page-top">Start Trial Now</a>
                </div>
            </div>
            <div class="checkout-plan">
                <header class="checkout-plan-header">
                    <h3>Growth</h3>
                    <span>$</span><strong>47</strong> / month
                </header>
                <div class="checkout-plan-content">
                    <ul>
                        <li>200 Uses Of X</li>
                        <li>Easy payment. Cancel anytime.</li>
                        <li>Simple, secure card payment</li>
                    </ul>
                    <a class="button-checkout" href="#page-top">Start Trial Now</a>
                </div>
            </div>
            <div class="checkout-plan">
                <header class="checkout-plan-header">
                    <h3>Scale</h3>
                    <span>$</span><strong>197</strong> / month
                </header>
                <div class="checkout-plan-content">
                    <ul>
                        <li>1000 Uses Of X</li>
                        <li>Easy payment. Cancel anytime.</li>
                        <li>Simple, secure card payment</li>
                    </ul>
                    <a class="button-checkout" href="#page-top">Start Trial Now</a>
                </div>
            </div>
        </div>
    </div>
    <p>* All trial accounts have a limit of X uses</p>
    
  </div>
</section>

<!-- Footer -->
<footer class="bg-light py-5">
  <div class="container">
    <div class="small text-center text-muted">
      <div class="row">
        <div class="col">
          <hr>
          Contact Us: <!-- REPLACE HREF AND TEXT -->
          <a class="d-inline" href="mailto:contact@yourwebsite.com">contact@yourwebsite.com</a>
        </div>
        <div class="col"><hr>
          Copyright © 2019 - ML SaaS Tutorial
        </div>
        <div class="col"><hr>
          <a class="d-inline" href="/tos">Terms of Service</a>
        </div>
      </div>
    </div>
  </div>
</footer>
{% endblock %}

{% block scripts %}
<script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

<!-- Custom scripts for this template -->
<script src="js/creative.min.js"></script>

<script>
  $(function(){
    $("#signup-form").submit(function(e) {
      e.preventDefault();
    });
    $('.btn.btn-primary.btn-xl').click(function(){
    data = JSON.stringify({
      email: $('#emailField').val(), 
      password: $('#passwordField').val()
    })
    
    $.ajax({
      url: '/signup',
      type: 'POST',
      contentType: "application/json",
      data: data, 
      success: function(response){
        json_obj = JSON.parse(response);
        url = json_obj.message;
        window.location.replace(url);
      },
      error: function(error){
        if (error.status == '401' || error.status == '403'){
          json_obj = JSON.parse(error.responseText);
          $('#output').html(json_obj.message);
        }
        else {
          $('#output').html('');
        }
      }
      });
    });
  });
  </script>
{% endblock %}