{% extends "base_templates/base.html" %}

{% block header %}
<title>SaaS Tutorial</title>

<link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>

<link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">
<link href="css/creative.min.css" rel="stylesheet">
<link href="css/pricing.css" rel="stylesheet">
{% endblock %}

{% block body_attributes %}
id="page-top"
{% endblock %}

{% block content %}
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">ML SaaS Tutorial</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto my-2 my-lg-0">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#services">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#pricing">Pricing</a>
          </li>
          {% if is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="/dashboard">Back To Dashboard</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="/login_page">Login</a>
          </li>
          {% endif %}
        
      </ul>
    </div>
  </div>
</nav>

<!-- Masthead -->
<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center justify-content-center text-center">
      <div class="col-lg-10 align-self-end">
        <h1 class="text-uppercase text-white font-weight-bold">Flask Template</h1>
        <hr class="divider my-4">
      </div>
      <div class="col-lg-8 align-self-baseline">
        <p class="text-white-75 font-weight-light mb-5">Claim Your Free Trial of Template</p>
        <form id="signup-form" action="/signup" method="post">
          <input class="mb-3 form-control" required id="emailField" type="email" name="email" placeholder="Your email"/>
          <input class="mb-3 form-control" required id="passwordField" type="password" name="password" placeholder="Enter a password"/>
          <div id="output" class="pb-2 row align-items-center justify-content-center text-danger font-weight-bold">{{ message }}</div>
          <input class="btn btn-primary btn-xl" type="submit" value="Signup for a free trial"/>
        </form>
      </div>
    </div>
  </div>
</header>

{% include 'partials/services.html' %}

{% include 'partials/index_pricing.html' %}

{% include 'partials/index_footer.html' %}
{% endblock %}

{% block scripts %}
<script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

<!-- Custom scripts for this template -->
<script src="js/creative.min.js"></script>

<script>
  $(function(){
    $("#signup-form").submit(function(e) {
      e.preventDefault();
    });
    $('.btn.btn-primary.btn-xl').click(function(){
    data = JSON.stringify({
      email: $('#emailField').val(), 
      password: $('#passwordField').val()
    })
    
    $.ajax({
      url: '/signup',
      type: 'POST',
      contentType: "application/json",
      data: data, 
      success: function(response){
        json_obj = JSON.parse(response);
        url = json_obj.message;
        window.location.replace(url);
      },
      error: function(error){
        if (error.status == '401' || error.status == '403'){
          json_obj = JSON.parse(error.responseText);
          $('#output').html(json_obj.message);
        }
        else {
          $('#output').html('');
        }
      }
      });
    });
  });
  </script>
{% endblock %}