{% extends "base.html" %}

{% block header %}
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>SB Admin 2 - Login</title>

<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
<link href="css/sb-admin-2.min.css" rel="stylesheet">

{% endblock %}

{% block body_attributes %}
class="bg-gradient-primary"
{% endblock %}

{% block content %}
<div class="container">

  <!-- Outer Row -->
  <div class="row justify-content-center">

    <div class="col-xl-10 col-lg-12 col-md-9">

      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
            <div class="col-lg-6">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                </div>
                <form id="login-form" class="user" role="form"> <!-- action="/login" method="post" -->
                  <div class="form-group">
                    <input type="email" name="email" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter Email Address...">
                  </div>
                  <div class="form-group">
                    <input type="password" name="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Password">
                  </div>
                  <div id="output" class="pb-2 row align-items-center justify-content-center text-danger"></div>
                  <div class="form-group">
                    <input type="submit" value="Login" class="btn btn-primary btn-user btn-block"/>
                  </div>

                </form>
                <hr>
                <div class="text-center">
                  <a class="small" href="/">Home / Register</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>
{% endblock %}

{% block scripts %}
<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>

<script>
  
$(function(){
  $("#login-form").submit(function(e) {
    e.preventDefault();
  });
  $('.btn.btn-primary.btn-user.btn-block').click(function(){
  data = JSON.stringify( $('#login-form').serializeArray() );

  $.ajax({
    url: '/login',
    data: data,
    type: 'POST',
    success: function(response){
      json_obj = JSON.parse(response);
      url = json_obj.message;
      window.location.replace(url);
    },
    error: function(error){
      if (error.status == '401'){
        json_obj = JSON.parse(error.responseText);
        $('#output').html(json_obj.message);
      }
      else {
        $('#output').html('');
      }
    }
    });
  });
});
</script>
{% endblock %}